<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uulm.dbis.coaster2go"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Coaster2Go"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MessageActivity"
            android:label="Message Board" />
        <activity android:name=".activities.TimsTestActivity" />
        <activity
            android:name=".activities.TestDataActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activities.ParkOverviewActivity"
            android:label="@string/title_activity_park_overview"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>