<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.uulm.dbis.coaster2go"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:label"
        android:label="Coaster2Go"
        android:theme="@style/AppTheme.NoActionBar"
        android:icon="@drawable/ic_theme_park_splash"
        android:name="android.support.multidex.MultiDexApplication" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTpG19jlWQTFsRl64ff7ugZqeuNaxSMZw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MainActivity"/>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TestDataActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".activities.ParkOverviewActivity"
            android:label="@string/title_activity_park_overview"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ParkDetailViewActivity"
            android:parentActivityName=".activities.ParkOverviewActivity" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:label="@string/my_account" />
        <activity
            android:name=".activities.AttractionOverviewActivity"
            android:label="@string/title_activity_attraction_overview" />
        <activity android:name=".activities.AttractionDetailViewActivity"
            android:parentActivityName=".activities.AttractionOverviewActivity"/>
        <activity
            android:name=".activities.EditParkActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.RatingActivity"
            android:label="@string/ratings"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.WaitingTimesActivity" />
        android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MapViewActivity"
            android:parentActivityName=".activities.EditParkActivity" />
        <activity android:name=".activities.EditAttractionActivity" />
    </application>

</manifest>